body{
    background-color: rgb(118, 114, 167);
    max-width: 500px;
    margin: 30px auto;
    border: 5px solid rgb(222, 104, 238);
    padding: 25px;
    border-radius: 5px;
}

textarea{
    margin: 15px 15px 20px 0px;
}
a{
    text-decoration: none;
    color: black;
}

input{
    margin: 10px 0px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}