{% extends "layout.html" %}
{% block title %}Profile-Page{% endblock %}

{% block content %}
<h1>Profile</h1>
<p>{{user}}</p>

<p>To generate link <button type="button" onclick="generate_link()">Click Here</button></p>
<p id="link" style="display: inline;"></p>
<p style="border: 1px white solid;color: aliceblue; background-color: black; display: inline; margin-bottom: 0%;" type="button" onclick="copyToClipboard('#link')">Copy Link</p><br>
<button type="button"><a href="/logout">Logout</a></button>
{% endblock %}