{% extends "layout.html" %}
{% block title %}Register-Page{% endblock %}

{% block adhead %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3507316425044293"
     crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <center>
         <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3507316425044293"
        crossorigin="anonymous"></script>
    <!-- lmam_ads -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3507316425044293"
        data-ad-slot="7778948327"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
       </center>
    <center><h2 class="mb-3">Register</h2></center>
    <center>
        <form action="">
        
        <input type="text" placeholder="Username" onchange="checkname()" id="uname" class="form-control">
        <p id="unameerror"></p>
        
        <input style="margin-bottom: 0%;" type="password" placeholder="Password" onchange="pwreq()" id="password" class="form-control">
        <p style="font-size: 13px;color: red; padding: 0%;margin: 0%;" id="plength"></p>
        
        
        <input style="margin-bottom: 5px;" type="password" placeholder="Confirm Password" onchange="checkpassword()" id="pw" class="form-control">
        <p style="font-size: 13px;color: red; padding: 0%;margin: 0%;" id="err"></p>
        
        <button type="button" id="btn" onclick="register()" class="btn btn-primary">Register</button>
        <p style="display: inline;">or</p>
        <button class="btn btn-primary"><a href="/login">Login</a></button>
    </form>
    </center>
{% endblock %}
