{% extends "layout.html" %}
{% block title %}Register-Page{% endblock %}
{% block content %}
    <h1>Register</h1>
    <form action="">
        
        <input type="text" placeholder="Username" onchange="checkname()" id="uname"><br>
        <p id="unameerror"></p>
        
        <input style="margin-bottom: 0%;" type="password" placeholder="Password" onchange="pwreq()" id="password"><br>
        <p style="font-size: 13px;color: red; padding: 0%;margin: 0%;" id="plength"></p>
        
        
        <input style="margin-bottom: 0px;" type="password" placeholder="Confirm Password" onchange="checkpassword()" id="pw">
        <p style="font-size: 13px;color: red; padding: 0%;margin: 0%;" id="err"></p>
        
        
        <p style="margin-bottom: 0%;">Enter Secrete key</p>
        <input style="margin-bottom: 0px; margin-top: 0%;" type="text" id="s_key" placeholder="Secerte Key"><br>
        <p style="font-size: 10px; font-weight: bold;">You Need This Secrete Key To Acess Telegram Bot</p>
        
        
        <button type="button" id="btn" onclick="register()">Register</button>
        <p style="display: inline;">or</p>
        <button><a href="/login">Login</a></button>
    </form>
{% endblock %}
